.home {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 1;
}

.db-box-list {
  display: flex;
  justify-content: space-between; /* Các db-box sẽ trải đều chiều rộng */
  align-items: center;
  flex-wrap: nowrap; /* Đảm bảo các db-box không xuống dòng */
  position: relative;
  width: 100%;
  gap: 10px; /* Khoảng cách giữa các db-box */
}

.db-box {
  background-color: #F2F2F2;
  border-radius: 10px;
  flex: 1; /* Mỗi db-box sẽ chiếm một phần không gian đều nhau */
  height: 150px; /* Giữ nguyên hoặc điều chỉnh tùy ý */
  display: flex;
  justify-content: center;
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.1s ease;
}

.db-box-info {
  flex-direction: column;
  display: none;
}

.calendar-toggle-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start; 
  gap: 10px; 
  width: 100%; 
  padding-left: 5px;
}

.calendar-toggle-btn {
  margin-right: 5px;
  padding: 10px 20px; 
  border: none;
  background-color: #f0f0f0; 
  font-size: 14px; 
  border-radius: 5px;
}

.calendar-toggle-btn.active {
  background-color: #4d79ff; 
  color: white; 
}

.status-available {
  color: #00A75A;
}

.status-occupied {
  color: #9E1212;
}

.status-cleaning {
  color: #EA8B1E;
}

.status-booked {
  color: #3776D4;
}

@media (max-width: 767px) {
  .home {
    left: 0;
    width: 100%;
  }

  .db-box-info {
    display: none;
  }

  .db-box-list {
    flex-wrap: wrap; /* Cho phép các db-box xuống dòng trên màn hình nhỏ */
  }

  .db-box {
    flex: 1 1 calc(50% - 10px); /* Hiển thị 2 db-box trên mỗi hàng */
    margin-bottom: 15px;
  }

  .db-box-left {
    font-size: 24px;
    transform: scale(1);
  }

  .db-box-right {
    transform: scale(1);
  }

  .calendar-container {
    margin-top: 20px;
    order: 1; 
  }

  .calendar-toggle-buttons {
    align-items: center;
  }

  .calendar-toggle-btn {
    padding: 8px 15px;
    font-size: 12px;
  }
}