.tv-app {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  position: relative;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  color: #fff;
}
.tv-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.tv-app.clear {
  background: linear-gradient(
    to bottom,
    rgba(135, 206, 235, 0.8) 25%,
    rgba(0, 191, 255, 0.8) 100%
  );
}

.tv-app.cloudy {
  background: linear-gradient(
    to bottom,
    rgba(96, 96, 96, 0.8) 25%,
    rgba(240, 240, 240, 0.8) 100%
  );
}

.tv-app.rainy {
  background: linear-gradient(
    to bottom,
    rgb(12,28,77) 25%,
    rgb(136,158,189) 100%
  );
}

.tv-app.snowy {
  background: linear-gradient(
    to bottom,
    rgb(125, 143, 160) 0%, 
    white 50%, 
    rgb(125, 143, 160) 100% 
  );
}

.tv-app.sunny {
  background: linear-gradient(
    to bottom,
    rgba(135, 206, 235, 0.8) 25%,
    rgba(255, 215, 0, 0.8) 100%
  );
}

.left-panel, .right-panel {
  z-index: 2;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-panel {
  flex-grow: 2;
}

.right-panel {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  max-height: 100%;
}

.right-panel h2 {
  color: #fff;
  margin-top: 0;
}

.weather-section {
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-summary {
  display: flex;
  width: 100%;
}

.weather-icon {
  width: 75px;
  height: auto;
}

.top-panel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-panel h1 {
  font-size: 3rem;
}

.top-panel-data,
.top-panel .right {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.top-panel-data p {
  margin: 0;
}

.top-panel .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0;
}

.bottom-panel {
  width: 100%;
}

h2.date {
  text-align: right;
  margin: 0;
}

.day-time {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
}

.day, .time {
  margin: 0;
  font-size: 1.2rem;
}

.temperature {
  font-size: 6rem;
  font-weight: bold;
}

.temperature-unit {
  font-size: 1.5rem;
  margin-left: 4px;
}

.events-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MuiAccordion-root {
  border-radius: 12px;
  background-color: #333;
  color: white;
  height: auto;
}

.MuiAccordionSummary-root {
  background-color: #444;
  padding: 12px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.MuiAccordionSummary-root:hover {
  background-color: #555;
}

.MuiAccordionDetails-root {
  background-color: #222;
  padding: 15px;
  height: auto;
  color: white;
}

.MuiAccordionSummary-expandIcon {
  color: #fff;
}

.MuiTypography-root {
  font-size: 1.2rem;
}
