.complaint-form {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto; 
  box-sizing: border-box;
}

.complaint-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; 
}

.complaint-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.complaint-form-group label {
  font-weight: bold;
}

.complaint-form-group input,
.complaint-form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; 
  background-color: white;
  color: black;
}

.complaint-form-group input[readonly] {
  background-color: #e0e0e0; 
  color: black;
  pointer-events: none; 
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  box-sizing: border-box;
}


.complaint-form-group.reason,
.complaint-form-group.details {
  margin-bottom: 20px;
}

.complaint-submit-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%; 
}

.complaint-submit-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .complaint-form-row {
    flex-direction: column;
    gap: 0;
  }
}
