/* Container của lịch */
.booking-calendar-container {
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 10px;
  box-sizing: border-box;
}

/* Ẩn tên bảng (nếu có) */
.rbc-toolbar {
  display: none;
}

/* Style cho các slot */
.rbc-event {
  background-color: #f2f2f2; /* Màu nền mặc định (available) */
  border-radius: 10px; /* Border-radius */
  border: none; /* Xóa border mặc định */
  color: #333; /* Màu chữ */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Style cho slot booked */
.rbc-event.booked {
  background-color: #abdfff; /* Màu nền khi booked */
  color: #000; /* Màu chữ khi booked */
}