.rooms-client {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}

.rooms-client h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.rooms-client form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  max-width: 33.33%;
}

.rooms-client form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rooms-client label {
  font-weight: bold;
  color: #555;
}

.rooms-client input,
.rooms-client select,
.rooms-client textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif; 
}

.rooms-client input:focus,
.rooms-client select:focus,
.rooms-client textarea:focus {
  border-color: #007bff;
  outline: none;
}

.rooms-client small {
  color: #777;
  font-size: 12px;
}

.rooms-client button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; 
}

.rooms-client button:hover {
  background-color: #0056b3;
}

.rooms-client h3 {
  color: #333;
  margin: 0;
}

.rooms-client ul {
  list-style-type: none;
  padding: 0;
  flex: 2;
  max-width: 66.66%;
  margin: 0;
}

.rooms-client ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.rooms-client ul li .booking-info {
  flex: 1;
  margin-right: 20px;
}

.rooms-client ul li .booking-note {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rooms-client ul li .booking-info button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; 
}

.rooms-client ul li .booking-info button:hover {
  background-color: #c82333;
}