.sauna-calendar .booking-calendar-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.sauna-calendar .rbc-event {
  border-radius: 10px;
  border: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.sauna-calendar .rbc-event.sauna-past {
  background-color: transparent;
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.sauna-calendar .rbc-event.sauna-my-reservation {
  background-color: #ffcccc;
  color: #000;
  border: 1px solid #ffcccc;
  cursor: pointer;
}

.sauna-calendar .rbc-event.sauna-booked {
  background-color: #abdfff;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
}

.sauna-calendar .rbc-event.sauna-available {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

.sauna-calendar .rbc-event.sauna-past.sauna-my-reservation {
  background-color: transparent;
  color: #000;
  cursor: not-allowed;
  pointer-events: none;
  border: none;
}

.sauna-calendar .rbc-event.sauna-past.sauna-booked {
  background-color: transparent;
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.sauna-calendar .rbc-header {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.sauna-calendar .rbc-month-view {
  min-height: 100vh;
}

.sauna-calendar .rbc-month-header {
  display: flex;
  justify-content: space-between;
}

.sauna-calendar .rbc-day {
  height: 100px;
  position: relative;
}

.sauna-calendar .rbc-event-label {
  display: none;
}

.sauna-calendar .rbc-events-container {
  margin: 0;
}

.sauna-calendar .rbc-time-header-gutter,
.sauna-calendar .rbc-time-gutter {
  width: 80px;
  min-width: 80px;
}

.sauna-calendar .rbc-time-header-gutter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.sauna-calendar .rbc-time-gutter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.sauna-calendar .rbc-day + .rbc-day {
  margin-left: 15px;
}