.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #1c2228;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 10;
}

.resortlogo {
  size: 10px;  
  display: flex;
  margin-left: 10px;
}

.header-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-icon {
  width: 40px;  
  height: 40px;
  display: flex;
  color: white;
}

.header-text {
  font-size: 25px;  
  margin-left: 10px;
  color: white;
  margin-right: 10px;
}

.menu-icon {
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.guest .header-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.guest .header-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;  
  color: white;
}

.guest .guest-section {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.guest .guest-icon {
  font-size: 25px;  
  color: white;
}

.guest .guest-label {
  margin-left: 10px;
  font-size: 18px; 
  color: white;
}

.guest .header {
  background-color: #1c2228;
  padding: 0 20px;
  justify-content: space-between;
}

.guest .header-text {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

.header-option-link {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease;
}

.header-option-link:hover {
  color: white;
}

.header-option-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  bottom: 0;
  height: 2px;
  background-color: white;
  width: 100%;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.header-option-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.header-option-link.active::after {
  transform: translateX(-50%) scaleX(1);
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
  }

  .guest .header-options {
    flex-direction: row; 
    gap: 10px;  
    font-size: 14px; 
    white-space: nowrap;  
  }

  .guest .guest-section {
    justify-content: center;
  }

  .resortlogo {
    font-size: 20px;  
  }

  .guest .header-text {
    font-size: 14px;  
  }

  .header-icon, .guest .guest-icon {
    font-size: 20px; 
    width: 30px;
    height: 30px;
  }

  .guest .guest-label {
    font-size: 14px; 
  }

  .header-info {
    margin-right: 15px;  
  }

  .header-text {
    font-size: 14px; 
    margin-left: 5px;
    margin-right: 5px;
  }

  .header-option-link {
    font-size: 14px;  
  }
}
