.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: 0 auto; 
  display: block; 
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fff, -20px 0 #ffffff80;
    background: #fff; 
  }
  33% {
    box-shadow: 20px 0 #fff, -20px 0 #ffffff80;
    background: #ffffff80; 
  }
  66% {
    box-shadow: 20px 0 #ffffff80, -20px 0 #fff;
    background: #ffffff80;
  }
  100% {
    box-shadow: 20px 0 #ffffff80, -20px 0 #fff;
    background: #fff;
  }
}
