.sidebar {
  width: 250px;
  right: 0;
  top: 40px;
  position: fixed;
  background-color: white;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 100;
}
.sidebar.sidebar-visible {
  transform: translateX(0);
}
.sidebar-toggle {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  cursor: pointer;
}
.toggle-icon {
  font-size: 24px;
  color: #1c2228;
}
.sidebar-icon {
  width: 24px;
  height: 24px;
  color: #1c2228;
  margin-right: 15px;
  transition: color 0.3s ease;
}
.sidebar-gr {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 5px 10px;
}
.sidebar-gr:hover {
  background-color: #f0f0f0;
}
.sidebar-gr.active {
  background-color: #348af7;
  color: white;
}
.sidebar-gr.active .sidebar-icon {
  color: white;
}
.sidebar-gr .sidebar-text {
  font-size: 16px;
  color: #1c2228;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar-gr.active .sidebar-text {
  color: white;
}
.sidebar.collapsed .sidebar-text {
  display: none;
}
.sidebar.collapsed .sidebar-icon {
  margin-right: 0;
}
@media (max-width: 767px) {
  .sidebar {
    width: 70%; 
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .sidebar.sidebar-visible {
    transform: translateX(0); 
  }
  .sidebar-gr {
    padding: 10px 15px;
  }
  .sidebar-icon {
    width: 20px;
    height: 20px;
  }
  .sidebar-text {
    font-size: 14px;
  }
}
