.rooms {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: auto;
}
@media (max-width: 767px) {
  .rooms {
    left: 0;
    width: 100%;
  }
}
