.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  width: calc(100vw - 200px);
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  flex-direction: row;
  max-width: 40%;
  align-items: center;
}

.footer-logo {
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin: 5px 0;
}

.footer-column:nth-child(2) li:nth-child(2) {
  margin-bottom: 35px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer {
    padding: 10px;
  }

  .footer-logo {
    width: 120px;
    height: 120px;
  }

  .footer-column a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
  }

  .footer-left {
    max-width: 100%;
    justify-content: center;
  }

  .footer-logo {
    display: none; 
  }
  .footer-column {
    padding: 10px 0;
  }

  .footer-column a {
    font-size: 12px;
  }
  .footer-column:nth-child(2) {
    display: none;
  }
}