.info {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.info-gradient-box {
  height: 122px;
  width: 100%;
  background: linear-gradient(to right, #1c2228, #ABDFFF);
}

.info-details {
  padding: 0 30px;
}

.info-info-form {
  margin-right: 25px;
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 15px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.info-name-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.info-name-column {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.info-info-name {
  font-size: 30px;
}

.info-info-email {
  font-size: 25px;
}

.info-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  width: 100%;
  padding-top: 30px;
}

.info-info-column {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.info-change-password-form {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 15px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.info-save-profile-button {
  background-color: #ABDFFF;
  color: black;
  position: absolute;
  right: 60px;
  top: 200px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
}

.info-change-password-button {
  width: auto;
  background-color: #FF6B6B;
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.info-change-password-button:hover {
  background-color: #FF3B3B;
}

.info-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.info input {
  width: 100%; 
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  box-sizing: border-box; 
}

.info-info-form input, .info-change-password-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .info-info-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-info-form, .info-change-password-form {
    grid-template-columns: 1fr; 
    width: 100%;
  }

  .info-save-profile-button, .info-change-password-button {
    width: 100%;
    grid-column: span 1;
  }
}
