.info {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
}

.info-details {
  padding: 0 30px;
}

.info-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: flex-start; /* Align items to the start (left) */
  width: 100%; /* Ensure the form takes the full width of the parent */
}

.gradient-box {
  height: 122px;
  width: 100%;
  background: linear-gradient(to right, #1c2228, #ABDFFF);
}

.name-box {
  display: flex;
  align-items: center;
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 180px;
}

.info-name {
  font-size: 30px;
}

.info-email {
  font-size: 25px;
}

.save-profile-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #ABDFFF;
  color: black;
  position: absolute;
  right: 60px;
  top: 200px;
}

.change-password-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #FF6B6B; 
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.change-password-button:hover {
  background-color: #FF3B3B; 
}

.form-group {
  margin-bottom: 15px;
  width: 100%; 
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.info input {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}

@media (max-width: 767px) {
  .info {
    left: 0;
    width: 100%;
  }

  .info-row {
    flex-direction: column;
    align-items: flex-start; 
  }

  .info input {
    padding: 12px;
    max-width: 100%;  
  }

  .save-profile-button {
    position: absolute;
    right: 20px;
    top: 220px;
  }

  .change-password-button {
    width: 100%;
    height: 40px;
  }
}
