:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.content {
  margin-top: 40px;  
  margin-left: 200px;  
  min-height: calc(100vh - 60px - 100px); 
  min-width: calc(100vw - 200px);
  box-sizing: border-box;
  padding-bottom: 100px; 
  overflow-y: auto; 
  background-color: white;
}
.content.no-left-padding {
  margin-left: 0 !important; 
  width: 100% !important; 
}
.footer {
  position: relative;
  bottom: 0;
  width: calc(100% - 200px); 
  margin-left: 200px;  
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.footer.no-left-padding {
  margin-left: 0 !important; 
  width: 100vw !important; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-left: 0;
  }
}